@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body,
  .body {
    @apply text-[#bebebe] tracking-wide overflow-x-hidden w-[100vw];
    background-image: url('/assets/images/bg-2.gif');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
  }

  ::-webkit-scrollbar {
    width: 7px;
    background: transparent;
  }
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #0c0c0c;
    border-radius: 10px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  p {
    @apply font-light leading-[1.59rem];
  }

  button,
  .primary-btn {
    @apply bg-gradient-to-r from-[#ffffff] to-[#fefefefe] text-black;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 500;
  }

  input::placeholder {
    font-size: 13px;
    font-weight: 400;
  }
  .dashCard {
    @apply px-[40px] md:px-[30px] py-[25px] md:py-[15px] rounded-[30px] shadow-md shadow-[#ffffff46] bg-[#1b1b1b] flex gap-5 items-center justify-between;
  }
  .dashCardTitle {
    @apply text-[20px] md:text-[22px] font-bold text-[#dfdfdf];
  }
}

.images-footer {
  background-image: url('/assets/images/bg-2.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.upppercase {
  text-transform: uppercase;
}

.title {
  /* transform: scale(0.7, 1.2); */
  display: inline-block;
  line-height: 2.5rem;
}

.enter-btn:hover {
  transform: scale(1.1);
  transition: 1s ease-in-out;
}

.info {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  border-radius: 7px;
}

.right-box {
  box-shadow: 2px 2px 10px #8a8a8a6c;
  animation: rightBoxContainer 5s 5s forwards infinite;
}
.left-box {
  animation: leftBoxContainer 5s 5s forwards infinite;
}

.register-box {
  border-radius: 50px;
  border-top: 3px solid #ffe6a6;
  border-bottom: 3px solid #ffe6a6;
  box-shadow: 2px 2px 10px #8a8a8a6c;
}

/* ANIMATIONS */
@keyframes rightBoxContainer {
  0% {
    transform: translateX(-10px);
  }
  10% {
    transform: translateX(10px);
  }
  20% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes leftBoxContainer {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
